DISCORD_TOKEN=your_discord_bot_token_here
ADMIN_USER_IDS=408190648924110858

# Gemini API Keys for image generation and text generation
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_API_KEY_1=your_gemini_api_key_1_here
GEMINI_API_KEY_2=your_gemini_api_key_2_here
GEMINI_API_KEY_3=your_gemini_api_key_3_here
GEMINI_API_KEY_4=your_gemini_api_key_4_here
GEMINI_API_KEY_5=your_gemini_api_key_5_here
GEMINI_API_KEY_6=your_gemini_api_key_6_here
GEMINI_API_KEY_7=your_gemini_api_key_7_here
GEMINI_API_KEY_8=your_gemini_api_key_8_here
GEMINI_API_KEY_9=your_gemini_api_key_9_here
GEMINI_API_KEY_10=your_gemini_api_key_10_here
GEMINI_API_KEY_11=your_gemini_api_key_11_here
GEMINI_API_KEY_12=your_gemini_api_key_12_here
GEMINI_API_KEY_13=your_gemini_api_key_13_here

# New Groq API Key
GROQ_API_KEY=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

# Groq API Keys
GROQ_API_KEY_1=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
GROQ_API_KEY_2=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
GROQ_API_KEY_3=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
GROQ_API_KEY_4=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
GROQ_API_KEY_5=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
GROQ_API_KEY_6=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
GROQ_API_KEY_7=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
GROQ_API_KEY_8=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
GROQ_API_KEY_9=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
GROQ_API_KEY_10=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
GROQ_API_KEY_11=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
GROQ_API_KEY_12=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
GROQ_API_KEY_13=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
GROQ_API_KEY_14=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
GROQ_API_KEY_15=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
GROQ_API_KEY_16=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